# Copy this file to .env and fill in your values 

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB5Ly7NuWfO4o7oeTKs0bHBBi0maH3SHbU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=heritage-map-113f1.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=heritage-map-113f1
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=heritage-map-113f1.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=198195048350
EXPO_PUBLIC_FIREBASE_APP_ID=1:198195048350:web:84daa87ceb526f008f308f
